/*navbar */
.navbar-nav{
  font-size:18px ;
}
@media(max-width: 600px){
  .heading{
    display: flex;
    align-content: center;
    

  }
  .bg{
    width: 100%;
  }
  .card-img{
    height: 600px;

  }
  
.navbar-toggler{
  width: 50px;
 
}
.heading > div {
  flex-wrap: wrap;
}
.heading > div > button{
  margin-top: 12px;
}
}